$layout-breakpoint-small: 300px;
header{
  background: #FFEDFF;
}
.logo {
  
  background: #FFEDFF;
}
body {
  font-family: 'Raleway', sans-serif;
  
  background: rgba(255, 237, 255, 0.7);
}
footer {

}

figure {
  margin: 0;
  max-width: 20%;
  object-fit: cover;
}
figure img {
  width: calc(100% - 30px);
  margin: 10px;
  display: block;
 
}


.unhas {
  display: flex;
  flex-flow: row wrap;
  p {
    color: #dc0787;
  }
  em {
    color: #67178c;
    font-weight: bold;
  }
}

@media (max-width: 300px) {
  .unhas {
    flex-direction: column;
    flex-flow: column;
  }
  figure {
    max-width: 100%;

  }
}